@tailwind base;
@tailwind components;
@tailwind utilities;

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

/* .inter-<uniquifier> {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

.inter-thin {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
}

.inter-extralight {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 200;
	font-style: normal;
}

.inter-light {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.inter-normal {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-medium {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter-semibold {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-bold {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.inter-extrabold {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.inter-black {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

/* .bricolage-<uniquifier> {
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  } */

.bricolage-extralight {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

.bricolage-light {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

.bricolage-normal {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

.bricolage-medium {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

.bricolage-semibold {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

.bricolage-bold {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

.bricolage-extrabold {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.dropdown:hover .dropdown-menu {
    display: block;
  }